.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.title {
  font-size: 2rem;
  margin: 92px 0 32px 0;
}

.indication {
  font-size: 1rem;
  font-weight: 400;
  width: 411px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.recoverPassword {
  margin-top: 8px;
}

.buttonWrapper {
  margin-top: 32px;
}
